@font-face{
    font-family: BrandonGrotesque-Light;
    src:url(fonts/BrandonGrotesque-Light.ttf)
    font-weight: 300;
}
@font-face{
    font-family: BrandonGrotesque-Regular;
    src:url(fonts/BrandonGrotesque-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: BrandonGrotesque-Medium;
    src:url(fonts/BrandonGrotesque-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: BrandonGrotesque-Bold;
    src:url(fonts/BrandonGrotesque-Bold.ttf);
    font-weight: 700;
}

head{

}
body{
    font-family: BrandonGrotesque-Regular;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}
header{
    background-image: url(images/banner.png);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
}
.shadow{
    background-color: rgba(0,0,0,.4);
    height: 620px;
    width: 100%;
}
.wrapper{
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    padding: 45px 0;
}

.logo{
    width: 13%;
    float: left;
    margin-top: 13px;
}
.logo img{
    width: 100%;
}

.menu{
    width: 73%;
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;    
}
.menu ul li a{
      font-family: BrandonGrotesque-Light;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 26px;
    padding: 5px 0;
    transition: .5s;
    letter-spacing: 0.5px;

}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li a:hover{
    color: #718cff;
}
.wrapper2{
    overflow: hidden;
    width: 64%;
    margin: 0 auto;
}
.b_content h2{
    font-family: BrandonGrotesque-Light;
    font-size: 32px;
     font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-top: 75px;
    letter-spacing: 0.5px;
}
.b_content h1{
    font-family: BrandonGrotesque-Bold;
    font-weight: 700;
    font-size: 64px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin: 33px;
    letter-spacing: 0.5px;
}
.load{
    text-align: center;
    padding: 58px 0;

}
.load button{
    font-size: 18px;
    color: white;
    width: 165px;
    height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
.load button:hover{
    background-color: #00000061;
    border: none;
}
.blog{
    overflow: hidden;
    margin: 0 auto;
}
.single, .single1{
    float: left;
}
.single1{
    background-color: #f7f7f7;
}
.single img{
    width: 26%;
    float: right;
    padding-top: 20px;
}
.single .content{
    width: 62%;
    float: left;
}
.content h1{
    font-family: BrandonGrotesque-Light;
    font-weight: 300;
    font-size: 52px;
    color: black;
    display: inline-block;
    padding-right: 5px;
}
.content h2{
    font-family: BrandonGrotesque-Bold;
    font-weight: 700;
    font-size: 52px;
    color: black;
    display: inline-block;
}
.content p{
    font-size: 18px;
    color: black;
    letter-spacing: 0.5px;
    margin-top: -12px;
    line-height: 27px;
}
.single1 img{
    float: left;
    width: 30%;
    padding-top: 35px;
}
.single1 .content{
    width: 62%;
    float: right;

}
.service{
    overflow: hidden;
    margin: 0 auto;
}
.single3{
    float: left;
    width: 45%;
}
/*
.single3:hover{
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
}*/
.single3 img{
    float: left;
    width: 13%;
    padding-left: 2px;
    margin-top: 31px;
}
.single3 .text{
    width: 80%;
    float: right;
    padding-left: 20px;

}
.single3:nth-child(even){
    margin-left: 9%;
}
.wrapper3{
    width: 70%;
    margin: auto;
    overflow: hidden;
}
.text h3{
   font-family: BrandonGrotesque-Medium;
    font-weight: 500;
    font-size: 34px;
    color: black;
    display: inline-block;
    padding-right: 5px;
}
.text p{
    font-family: Brandon_reg;
    font-weight: 400;
    font-size: 18px;
    color: black;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 27px;
    margin-top: -30px;
}
.icon, .icon1{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    float: left;
}
.icon img, .icon1 img{
    padding-right: 0px;
    padding-left: 20px;
    display: inline-block;
}
.icon:nth-child(even){
    margin-left: 25%;
}
.icon1:nth-child(even){
    margin-left: 12%;
}
.team{
    padding:60px 0;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid black;
    background-color: black;
}
.title{
    color: black;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top:-46px;
    padding-bottom: 45px;
}
.title h1{
    font-family: BrandonGrotesque-Regular;
    font-weight: 400;
    font-size: 52px;
    color: white;
    display: inline-block;
    padding-right: 5px;
    margin-top:-11px;

}
.title h2{
   font-family: BrandonGrotesque-Bold;
    font-weight: 700;
    font-size: 52px;
    color: white;
    display: inline-block; 
    margin-top:-11px;   
}
.title h3{
    font-family: Brandon_reg;
    font-size: 20px;
    color: white;
    margin-top: -20px; 
    text-align: center;   
}
.single4{
    float: left;
    width: 25%;
    margin-left:74px; 
    overflow: hidden;
}
/*
.dot {
  height: 270px;
  width: 270px;
  background-color: black;
  border-radius: 50%;
  border: 10px solid white;
  display: inline-block;
  background-position: center;
}*/
.dot{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
}
.dot img{
    width: 100%;
}
.single4 h3{
    font-family: Brandon_reg;
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding-right: 5px;
    text-align: center;
    padding-right: 30px;
}
.single4 h4{
    font-family: Brandon_reg;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-right: 37px;
}
.single4:nth-child(even){
    
}
.contact{
    background-color: #7690c5;
}
.contact_section{
    overflow: hidden;
}
.location{
    width: 45%;
    float: left;
    padding: 82px 0;
}
.location h2 {
    font-family: BrandonGrotesque-Light;
    font-weight: 300;
    font-size: 60px;
    color: white;
    margin-bottom: 13px;
}
#hello{
    font-family: BrandonGrotesque-Bold;
    font-weight: 700;
    color: white;
}
.address-p p {
    color: white;
    margin-bottom: 16px;
}
.form1{
    float: left;
}
.form1 ul{

}
.form1 ul li{
    list-style-type: none;
}
.form1 ul li span {
    display: inline-block;
}
.form1 ul li span img {
    margin-top: 15px;
}
.form1 ul li p {
    display: inline-block;
    margin-left: 12px;
}

.form2{
    float: right;
}
.form2 ul{

}
.form2 ul li{
    list-style-type: none;
}
.form2 ul li span {
    display: inline-block;
}
.form2 ul li span img{
    margin-top: 15px;
}
.form2 ul li p{
    display: inline-block;
    margin-left: 12px;
    text-align: right;
}

.form3 {
    float: right;
    width: 45%;
    padding: 107px 0;
}
.text {
    width: 100%;
    padding: 5px;
}
.email{
    width: 100%;
    height: 35px;
    padding: 5px;
}
#textarea{
    width: 100%;
}
.submitbtn {
    margin-top: 20px;
}
.submitbtn  button {
    color: white;
    background: transparent;
    width: 100%;
    padding: 21px 0;
    border: none;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}
.submitbtn button:hover{
    background-color: #00000061;
    color: black;
    transition-delay:  0.1s;
}

footer {
    background-color: #7690c5;
    border-top: 1px solid #ffffff52;
}
.footer_text {
    text-align: center;
    color: white;
    padding: 40px 0;
}